extends ../../templates/main

block content
    section.section: div.container: div.columns
        div.is-one-quarter: aside.menu
            p.menu-label Guilds with Pleb
            ul.menu-list
                each guild in guilds
                    if(guildsData.has(guild.id))
                        li.guildLink(data-id=guild.id): a #{guild.name}
            p.menu-label Guilds without Pleb
            ul.menu-list
                each guild in guilds
                    if(!guildsData.has(guild.id))
                        li.guildLink(data-id=guild.id): a #{guild.name}
        div.column.is-offset-1
            div.guildData

block hidden
    each guild in guilds
        div(class='guild-' + guild.id)
            h1.title.is-1 #{guild.name}
            if(guildsData.has(guild.id))
                .box
                    - var guildData = guildsData.get(guild.id)
                    nav.level
                        div.level-item.has-text-centered
                            div
                                p.heading Members
                                p.title=guildData.memberCount
                        div.level-item.has-text-centered
                            div
                                p.heading Region
                                p.title=guildData.region

                    section.section
                        p.is-2.title Config
                        form
                            .columns
                                .column.is-one-half: .field
                                    label.label Prefix
                                    input.input(type='text')
                                .column.is-narrow: .field
                                    button.button(type='submit') Save

            else
                section.section: .level: .level-item
                    div
                        a.button.is-primary.is-large(href=inviteLink + '&guild_id=' + guild.id, target='_blank') Add me!